<IfModule mod_rewrite.c>
	
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule . index.php [L]

	ErrorDocument 403 /403
	ErrorDocument 404 /404
	ErrorDocument 500 /500

</IfModule>
 